* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;    
    margin-top: 44px;

}

.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    border: solid black 4px;
    
}

.canvas {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.pixelRow {
    display: flex;
    background-color: lightgrey;
    border: 1px solid lightblue;
    flex: 1;
}
.pixelCol {
    background-color: lightgrey;
    border: 1px solid lightblue;
    flex: 1;
}

