html {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(222, 222, 222)
}

body {
    margin: 0 auto;
    text-align: center;
}



.controlContainer {
    padding-bottom: 30px;
}
#sketchPad {
    display: flex;
    justify-content: center;
}


.gridContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: yellow;
}

