* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;    
    margin-top: 44px;
    
}


.gridContainer {
    display: flex;
    justify-content: center;
    margin-top: 44px;
    width: 500px;
    height: 500px;
    border: solid black 3px;
}




